{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h1>Account Verification (Django)</h1>

  <p>
    This demo application will show you how to implement user account verification with Twilio-powered
    <a href="http://authy.com">Authy</a> (powered by <a href="http://twilio.com">Twilio</a>) in <a href="http://https://www.djangoproject.com/">Django</a>.
  </p>
  <p><a href="">Sign Up</a> for an account to see how it works!</p>
{% endblock %}
